

.logo{
	font-family: 'Jolly Lodger', cursive;
	text-align:center;
}

.logo.large{
	font-size:84px;
}

.logo.home{
	margin-top:50px;
	margin-bottom:50px;
}

#outer {
    width: 600px;
    margin: 0 auto;    
}

.dorm {
    padding: 5px;
}

.dorm .name {
    display: inline-block;
    font-size: 1.75em;
}

.dorm .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.star{
	background: url('/star-on.png') no-repeat 0 0;
}

.dorm.selected {
    background-color: yellow;
}

.dorm.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}
.hidden{ 
	display:none;
}
